#dashboard {
    height: 100%;
    @include flex-container($direction:row, $wrap: wrap, $justify: space-around);
    .information {
        width: 100%;
    }
    .stats {
        min-width: 200px;
    }
}