@keyframes animate_modal {
    from {opacity:0; top:-100%}
    to {opacity:1; top:30%}
}

@-webkit-keyframes animate_modal {
    from {opacity: 0;}
    to {opacity: 1;}
}

.general-modal {
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 1000;
    background-color: fade-out($color: #000, $amount: 0.5);
    width: 100%;
    height: 100%;
    .modal-container {
        -webkit-animation-name: animate_modal;
        -webkit-animation-duration: 0.5s;
        animation-name: animate_modal;
        animation-duration: 0.5s;
        position: fixed;
        left: 50%;
        top: 30%;
        transform: translate(-50%, -30%);
        background-color: #fefefe;
        padding: 20px;
        width: 80%; /* Could be more or less, depending on screen size */
        max-width: 800px;
        border-radius: 10px;
    }
}