#navbar {
    background-color: $color-primary;
    height: $nav-height;
    padding: 10px;
    @media only screen and (min-width: 992px) {
        padding: 0 100px;
    }
    @include flex-container($justify: space-between);
    .navbar-header {
        margin-right: auto;
        .app-logo {
            display: inline-block;
            color: white;
            font-size: 1.25em; /* 20px/16px = 1.25em */
            text-decoration: none;
            width: 200px; /*tamaño aprox del logo*/
            height: 100%;
        }
    }
    .navbar-nav {
        @include flex-container($direction: row, $justify:center, $content:center);
        a.nav-link {
            text-decoration: none;
            align-self: center;
            color: $color-text;
            padding: 12px;
            margin: 0 12px;
            &.active {
                border-bottom: 1px solid $color-text;
                color: $color-text;
                font-weight: bold;
                text-shadow: 0px 3px 2px darken($color: $color-primary, $amount: 10%);
            }
            &:hover {
                outline: 1px solid white;
            }
        }
        #toggle-menu {
            background: #fff;
            border: 1px solid $color-primary;
            border-left: 0px;
            border-radius: 0px 10px 10px 0px;
            padding: 10px 5px;
            color: $color-primary;
            font-size: 1em;
            font-weight: bold;
            @media only screen and (min-width: 768px) {
                display: none;
            }
        }
    }
    .login {
        align-self: center;
        @include btn($color-secondary)
    }
}