#sidebar-container {
    width: 100%;
    position: fixed;
    height: auto;
    &.full {
        height: 100%;
    }
    @include flex-container($direction:column);
    /*header of the sidebar*/
    .sidebar-header {
        background-color: $color-primary;
        height: $nav-height;
        @include flex-container($justify: space-around, $items: center);
        .app-logo {
            color: white;
            font-size: 1.25em; /* 20px/16px = 1.25em */
            padding: 6px 12px;
            text-decoration: none;
            width: 200px;
            text-align: center;
        }
        #toggle-sidebar {
            background: #fff;
            border: 1px solid $color-primary;
            border-left: 0px;
            border-radius: 0px 10px 10px 0px;
            padding: 10px 5px;
            color: $color-primary;
            font-size: 1em;
            font-weight: bold;
        }
    }
    /*body of the sidebar*/
    .sidebar-body {
        background-color: $color-secondary;
        width: 0;
        height: 0;
        overflow-x: hidden;
        @include flex-item($grow:1);
        @include flex-container($direction:column, $justify: space-between);
        transition: width 0.5s;
        box-shadow: 5px 10px 8px darken($color: $color-bg, $amount: 10%);
        &.show {
            width: 80%;
            height: calc(100% - $nav-height);
        }
        .sidebar-nav {
            .nav-link {
                display: block;
                padding: 16px 8px;
                text-decoration: none;
                font-size: 1.25em;
                font-weight: 500;
                color: $color-text-secondary;
                &.active {
                    color: $color-text-primary;
                }
                &:hover {
                    color: $color-text-primary;
                }
            }
        }
        .close-session {
            margin: 0 10px;
            text-align: center;
            border-top: 1px solid #F8F8F8;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            font-size: 1.25em;
            font-weight: 500;
            cursor: pointer;
            color: $color-text-secondary;
            &:hover {
                border-top: 1px solid $color-text-primary;
                color: $color-text-primary;
            }
        }
    }
}

@media only screen and (min-width: 768px) {
    #sidebar-container {
        height: 100%;
        width: 250px;
        position: static;
        .sidebar-header {
            #toggle-sidebar {
                display: none;
            }
        }
        .sidebar-body {
            background-color: $color-secondary;
            width: 100% !important;
        }
    }
}