#side-navbar {
    background-color: lighten($color: $color-bg, $amount: 10%);
    width: 0;
    height: 0;
    overflow-x: hidden;
    @include flex-item($grow:1);
    @include flex-container($direction:column, $justify: space-between);
    transition: width 0.5s, height 0.5s;
    box-shadow: 5px 10px 8px darken($color: $color-bg, $amount: 10%);
    &.show {
        width: 80%;
        height: 100%;
    }
    .navbar-nav {
        .nav-link {
            display: block;
            padding: 16px 8px;
            text-decoration: none;
            font-size: 1em;
            color: darken($color: $color-bg, $amount: 60%);
            &.active {
                color: $color-primary;
                font-weight: bold;
                background-color: $color-bg;
            }
        }
    }
    .close-session {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        font-size: 1em;
        padding: 16px 8px;
        cursor: pointer;
        color: darken($color: $color-bg, $amount: 60%);
        font-weight: bold;
    }
    @media only screen and (min-width: 768px) {
        width: 100%;
        background: #fff;
    }
}