/*Mixins*/
@mixin flex-container ($direction:row, $wrap:nowrap, $justify:flex-start, $items:stretch, $content:normal) {
    display: flex;
    flex-direction: $direction;
    flex-wrap: $wrap;
    justify-content: $justify;
    align-items: $items;
    align-content: $content;
}

@mixin flex-item ($order:0, $grow:0, $shrink:1, $basis:auto, $align:auto) {
    order: $order;
    flex-grow: $grow;
    flex-shrink: $shrink;
    flex-basis: $basis;
    align-self: $align;
}

@mixin form-input ($bg-color, $shadow-color, $text-color) {
    padding: 10px 12px;
    margin-bottom: 20px;
    font-size: 1em;
    border: none;
    color: $text-color;
    background-color: $bg-color;
    width: 100%;
    display: inline-block;
    &:focus {
        outline: none;
        box-shadow: 0 0 5px 2px $shadow-color;
    }
    &::placeholder {
        color: darken($color: $color-bg, $amount: 20%);
    }
}

@mixin tooltip($bg-color, $txt-color) {
    display: none;
    position: absolute;
    color: $txt-color;
    padding: 6px 12px;
    background-color: $bg-color;
    box-shadow: 0px 0px 10px $bg-color;
    &.active {
        display: inline-block;
    }
}

@mixin form-label($text-color) {
    color: $text-color;
    font-size: 0.875em; /* 14/16 = 0.875*/
    margin: 20px 0px;
    display: inline-block;
    cursor: default;
}