/* Autoprefixer grid: autoplace */

@import 'vars';
@import 'mixins';
@import 'buttons';
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap');

* {
    box-sizing: border-box;
}

#root {
  height: 100%;
}

#main-app {
  height: 100%;
  @include flex-container($direction:column);
  #app-content {
    margin-top: $nav-height;
    @include flex-item($grow:1) //validar
  }
  @media only screen and (min-width: $mobile-bp) {
    flex-direction: row;
    #app-content {
      margin: 0;
    }
  }
}

html, body {
  margin: 0;
  font-family: $main-font-stack;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
  }
  
code {
    font-family: $code-font-stack;
  }

  @import "/partials/sidebar";
  @import "/partials/navbar";
  @import "/partials/dashboard";
  @import "/partials/loginModal";